<header>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/" data-text="Home">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a href="/blog" data-text="Blog">
          <i class="fas fa-blog"></i>
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1738UqmCjV_84gktVz0CGunwx6QFa95LyK7EZkKNMrsk/edit?usp=sharing" target="_blank" data-text="Resume">
          <i class="fas fa-file"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>


