{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="py-12 md:py-16 lg:w-10/12 {% if align == "center" %}md:text-center mx-auto{% endif %} mt-8">
  {% if date %}
  <div class="font-medium text-gray-700">{{ date | date_to_long_string }}</div>
  {% endif %}
  <h1 class="heading text-3xl md:text-4xl font-medium font-sans md:leading-tight {% if align == "center" %}text-center{% endif %}">
    {{ heading }}
  </h1>
  {% if description %}
  <h2 class="text-xl text-gray-600 mt-4 {% if align == "center" %}text-center{% endif %}">{{ description }}</h2>
  {% endif %}
</div>

