---
layout: default
---

{% include heading.html heading=page.heading align="center" %}

<main class="py-6">
  <img src="./assets/images/author/sulagna-saha.png" alt="Sulagna Saha" class="mx-auto max-w-xs h-auto mt-4" style="margin-top: -50px; margin-bottom: 20px;">
  <div class="max-w-2xl mx-auto mt-4">
    <p>Hi! I am Sulagna, a rising junior at Mount Holyoke College. </p>
    <p>Currently, I am interested in using Machine Learning to solve real-world problems. In my free time, I read 📚 , play 🎸 and contribute to open-source.</p>
    <p><strong>Ongoing Research:</strong> Building a multi-variate time series multi-label classification model to detect abnormal robotic data</p>
    <p><strong>Ongoing Open Source Project:</strong> Building a Ruby Gem to generate accurate Wikidata stats</p>

    <p> Are you interested to learn about the intersection of <strong>Climate Change and AI</strong>, you can also join me learning about it <u><a href="https://www.climatechange.ai/events/summer_school">here</a></u></p>
    <div class="mt-4 text-center">
      <a href="/blog" class="inline-block px-4 py-2 text-sm font-medium text-white bg-purple-400 hover:bg-purple-500 rounded-md">Read my blog</a>
      <a href="https://docs.google.com/document/d/1738UqmCjV_84gktVz0CGunwx6QFa95LyK7EZkKNMrsk/edit" class="inline-block ml-4 px-4 py-2 text-sm font-medium text-white bg-gray-400 hover:bg-gray-500 rounded-md">Link To Resume</a>
    </div>
  </div>
</main>
